* {
  font-family: sans-serif;
}

#container {
  background: #1A1A1A;
  width: 825px;
  height: 1002px;

  /* DEBUG */
  /* background-image: url(spec.png);
  background-repeat: no-repeat;
  background-size: contain; */
}
/* -------------------------------------------------------------------------- */
/* top of page */
header {
  background: #1A1A1A;
  height: 95px;

  /* DEBUG */
  /* opacity: 0.5; */
}

header img { /* logo */
  height: 57px;

  margin-top: 18px;
  margin-left: 16px;

  /* DEBUG */
  /* opacity: 0.5; */
}

header h4 { /* phone-number */
  /* display: inline-block;
  vertical-align: top; */
  float: right;

  margin-top: 29px;
  margin-right: 19px;

  font-size: 12.5px;

  color: white;
}
/* -------------------------------------------------------------------------- */
/* nav-bar */
nav {
  background-image: linear-gradient(#525252, #252525);
  height: 28px;

  padding-left: 30px;
  padding-top: 8px;

  /* DEBUG */
  /* opacity: 0.5; */
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 11.5px;
}
nav a:nth-of-type(2) { margin-left: 26px; } /* 2nd a-tag in nav-bar */
/* .after-2-nav { margin-left: 38px; } */   /* all a-tags after 2nd in nav-bar */
nav a:nth-of-type(3) { margin-left: 38px; }
nav a:nth-of-type(4) { margin-left: 39px; }
nav a:nth-of-type(5) { margin-left: 38px; }
nav a:nth-of-type(6) { margin-left: 38px; }
/* -------------------------------------------------------------------------- */
/* main section */
#main-img {
  height: 302px;
  width: 825px;
  margin-top: 0px;
  margin-left: 0px;

  /* DEBUG */
  /* opacity: 0.5; */
}

/* -------------------------------------------------------------------------- */
#section-below-main-image {
  height: 126px;
  background: #1A1A1A;

  /* DEBUG */
  /* background: red;
  opacity: 0.5; */

  padding-left: 16px;
}

.section-below-main-image__cols {
  height: 127px;
  width: 190px;
  display: inline-block;
  vertical-align: top;

  /* DEBUG */
  /* background: yellow;
  opacity: 0.5; */
}

.section-below-main-image__cols img {
  height: 29px;
  margin-left: 11px;
  margin-top: 25px;
}

.section-below-main-image__cols__right {
  display: inline-block;
  height: 75px;
  width: 134px;
  background: #1A1A1A;;
  margin-left: 0px;
}

.section-below-main-image__cols__right h3 {
  display: inline-block;
  vertical-align: top;
  font-size: 15.5px;
  font-family:serif;
  margin-top: -10px;
  margin-left: 5px;
  /* Orange text color */
  color: #EF7F2C;
}

.section-below-main-image__cols__right p {
  /* display: inline-block;
  vertical-align: top; */
  float: right;
  font-size: 11.5px;
  font-family:serif;
  margin-top: -13px;
  margin-bottom: 0px;
  margin-left: 5px;

  font-family: sans-serif;
  color: white;
}
/* -------------------------------------------------------------------------- */
#row-5 {
  height: 121px;
  /* width: 100px; */
  background: green;
  color: white; /* text-color */

  padding-top: 17px;
  padding-left: 36px;

  background: #050505;

  /* DEBUG */
  /* opacity: 0.5; */
}

#row-5 h2 {
  height: 8px;
  font-size: 19px;
}

#row-5 p {
  margin-top: 22px;
  margin-right: 258px;
  font-size: 12px;
}

#row-5 a {
  background-image: linear-gradient(#F29957, #EF802E);
  /* background: #EF802E; */
  height: 23px;
  width: 96px;
  display: block;
  border-radius: 7px;

  box-shadow: 8px 4px 5px 0px black;
  border: 1px black solid;
  text-decoration: inherit;
  color: white;

  margin-top: -58px;
  margin-right: 40px;

  padding-top: 9px;
  text-align: center;

  font-family: sans-serif;
  font-size: 14px;

  display: inline-block;
  vertical-align: top;

  float: right;
}
/* -------------------------------------------------------------------------- */
/* row-6 */
#row-6 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 22px;

  margin-bottom: 0px;
  margin-top: 0px;

  height: 300px;

  /* DEBUG */
  /* background: red;
  opacity: 0.5; */
}

#row-6 h3 {
  height: 24px;
  width: 200px;

  margin-top: 8px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: white;
  font-family: serif;
}

#josh {
  display: inline-block;
  float: right;

  font-size: 10px;
  font-style: italic;
  text-decoration: none;
  color: yellow;

  margin-top: -20px;
  margin-right: 30px;

  /* Orange text color */
  color: #EF7F2C;
}

.row-6__cols {
  height: 250px;
  width: 190px;

  margin-top: 16px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;

  /* text-color */
  color: white;

  display: inline-block;
  vertical-align: top;

  /* DEBUG */
  /* background: blue; */
}

.row-6__cols img {
  height: 112px;

  margin-left: 6px;
  margin-top: 2px;

  border: 2px #363636 solid;
}

.row-6__cols h4 {
  font-family:serif;
  font-size: 14px;

  margin-top: 12px;
  margin-left: 0px;

  /* Orange text color */
  color: #EF7F2C;


}

.row-6__cols p {
  font-size: 10px;

  margin-top: -12px;
  margin-left: 2px;

  /* letter-spacing: 3px; */
  line-height: 15px;
}

.row-6__cols:nth-of-type(2) { margin-left: 2px; }
.row-6__cols:nth-of-type(3) { margin-left: 8px; }
.row-6__cols:nth-of-type(4) { margin-left: 3px; }

#back-to-top {
  float: right;
  margin-top: 17px;
  margin-right: 8px;

  font-size: 8.75px;
  text-decoration: none;

  color: #747C7C;

  /* DEBUG */
  /* background: yellow; */
  /* opacity: 0.5; */
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
