* {
  font-family: sans-serif;
}

#container {
  width: 825px;
  height: 1000px;

  /* DEBUG */
  /* background: silver; */
  background-image: url(spec.png);
  background-repeat: no-repeat;
  background-size: contain;
}
/* -------------------------------------------------------------------------- */
/* top of page */
header {
  background: red;
  height: 95px;

  /* DEBUG */
  opacity: 0.5;
}

header img { /* logo */
  height: 57px;

  margin-top: 18px;
  margin-left: 16px;

  /* DEBUG */
  opacity: 0.5;
}

header h4 { /* phone-number */
  /* display: inline-block;
  vertical-align: top; */
  float: right;

  margin-top: 29px;
  margin-right: 19px;

  font-size: 12.5px;
}
/* -------------------------------------------------------------------------- */
/* nav-bar */
nav {
  background: blue;
  height: 28px;

  padding-left: 30px;
  padding-top: 8px;

  /* DEBUG */
  opacity: 0.5;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 11.5px;
}
nav a:nth-of-type(2) { margin-left: 26px; } /* 2nd a-tag in nav-bar */
/* .after-2-nav { margin-left: 38px; } */   /* all a-tags after 2nd in nav-bar */
nav a:nth-of-type(3) { margin-left: 38px; }
nav a:nth-of-type(4) { margin-left: 39px; }
nav a:nth-of-type(5) { margin-left: 38px; }
nav a:nth-of-type(6) { margin-left: 38px; }
/* -------------------------------------------------------------------------- */
/* main section */
main img {
  height: 302px;
  margin-top: 0px;
  margin-left: 0px;

  /* DEBUG */
  opacity: 0.5;
}
/* -------------------------------------------------------------------------- */
#section-below-main-image {
  height: 126px;

  /* DEBUG */
  background: red;
  opacity: 0.5;

  padding-left: 16px;
}

.section-below-main-image__cols {
/* #section-below-main-image__col1 { */
  height: 127px;
  width: 190px;
  display: inline-block;
  vertical-align: top;

  /* DEBUG */
  background: yellow;
  opacity: 0.5;
}

.section-below-main-image__cols img {
  height: 29px;
  margin-left: 11px;
  margin-top: 25px;
}

.section-below-main-image__cols__right {
  display: inline-block;
  height: 75px;
  width: 134px;
   background: blue;
   margin-left: 0px;
}

.section-below-main-image__cols__right h3 {
  display: inline-block;
  vertical-align: top;
  font-size: 15.5px;
  font-family:serif;
  margin-top: -10px;
  margin-left: 5px;
  color: black;
}

.section-below-main-image__cols__right p {
  /* display: inline-block;
  vertical-align: top; */
  float: right;
  font-size: 11.5px;
  font-family:serif;
  margin-top: -13px;
  margin-bottom: 0px;
  margin-left: 5px;

  font-family: sans-serif;
  color: white;
}







/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
